section{
    display:inline-block;
    width: 400px;
    height: 240px;
    border-radius: 10px;
    color:white;
    border-style: rigid;
    border-color: black;
    position: relative;
    /*margin:2px;*/
    margin-bottom:10px;
}
p{
    margin-left: 30px;
}
.cLeftCard{
    /*background-color: red;*/
    background: rgb(36,14,0);
    background: linear-gradient(90deg, rgba(36,14,0,1) 0%, rgba(168,98,61,1) 29%, rgba(0,212,255,1) 100%);
}
.cCentralCard{
    background-color: green;
    /*margin: 0px 50px 50px 0px;*/
    margin-left:50px;
    margin-right:50px;
    background: rgb(29,162,195);
    background: linear-gradient(90deg, rgba(29,162,195,1) 0%, rgba(168,98,61,1) 29%, rgba(0,212,255,1) 100%);
}
.cRightCard{
    background: rgb(118,196,180);
    background: linear-gradient(90deg, rgba(118,196,180,1) 0%, rgba(168,98,61,1) 29%, rgba(0,212,255,1) 100%);   
}
.name{
    font-size: 16pt;
}
.price{
    font-size: 32pt;
    margin-top:20px;
    margin-bottom: 10px;
}
.price_comment{
    font-size: 14pt;
}
.cPic{
    height: 30px;
    width: 30px;
    /*padding-bottom:90%;*/
    padding-bottom:90px;
    padding-left:40px;
}
li{
    display: inline-block;
}
.cCircleContainer{
    position:relative;
}
/*.cCircle{
    position:absolute;
    background-color:white;
    opacity:33%;
    width: 150px;
    height:150px;
    border-radius: 50%;
    overflow:hidden;
}
*/
.ul::before, ul::after{
    height: 60px;
    width: 60px;
   
    padding-bottom:90px;
    padding-left:40px;
}
